.det-img {
  background-image: url(../../shared/photos/img.png);
  display: flex;
  min-height: 40vh;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 -50px 100px #000000;
}

.det-title {
  bottom: 0;
}

.margin-bottom {
  margin-bottom: 16px;
}

.mat-radio-button~.mat-radio-button {
  margin-left: 16px;
}

.mat-radio-group {
  display: flex;

  .mat-radio-button {
    flex: 1;
  }
}

.margin-left{
  float: left;
}

