<cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
<form *ngIf="form" [formGroup]="form" layout="column">
  <h3>Új Evidence</h3>
  <mat-form-field class="max-width">
    <mat-label>Cím</mat-label>
    <input matInput placeholder="Title" focus formControlName="title" required>
  </mat-form-field>
  <mat-form-field class="max-width">
    <mat-label>Rövid cím</mat-label>
    <textarea placeholder="short title" formControlName="shortTitle" matInput cdkTextareaAutosize cdkAutosizeMinRows="2"
      cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>
  <mat-form-field class="max-width">
    <mat-label>Verzió szám</mat-label>
    <textarea placeholder="version" formControlName="version" matInput cdkTextareaAutosize cdkAutosizeMinRows="2"
      cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>
  <mat-radio-group formControlName="status" class="max-width">
    <table class="max-width margin-bottom" cellspacing="0">
      <tr>
        <td style="padding-bottom: 15px;">
          <mat-label>Státusz</mat-label>
        </td>
      </tr>
      <tr style="display: flex; align-items: center;">
        <td style="flex: 1; padding-left: 8px;">
          <mat-radio-button value="draft">Draft</mat-radio-button>
          <mat-radio-button value="active">Active</mat-radio-button>
          <mat-radio-button value="retired">Retired</mat-radio-button>
          <mat-radio-button value="unknown">Unknown</mat-radio-button>
        </td>
      </tr>
    </table>
  </mat-radio-group>
  <mat-form-field class="max-width">
    <mat-label>Szerkesztő</mat-label>
    <textarea placeholder="publisher" formControlName="publisher" matInput cdkTextareaAutosize cdkAutosizeMinRows="2"
      cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>

  <mat-form-field class="max-width">
    <mat-label>Tartalom</mat-label>
    <textarea placeholder="description" formControlName="description" matInput cdkTextareaAutosize
      cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill" class="max-width">
    <mat-label>Populáció a kutatás számára</mat-label>
    <input matInput type="number"  placeholder="0" formControlName="exposureBackground">
  </mat-form-field>


  <div style="display: flex; justify-content: flex-end;">
    <button mat-button (click)="dialogRef.close()" class="margin-right">MÉGSEM</button>
    <button mat-button [mat-dialog-close]="form.value" [disabled]="form.invalid">MENTÉS</button>
  </div>
</form>
</cdk-virtual-scroll-viewport>