<form [formGroup]="form">
  <h3>Játék felvétel</h3>
  <mat-form-field class="max-width">
    <mat-label>Title</mat-label>
    <input matInput placeholder="Title" focus formControlName="title" required>
  </mat-form-field>
  <mat-form-field class="max-width">
    <mat-label>Short Title</mat-label>
    <textarea placeholder="title" formControlName="shortTitle" matInput cdkTextareaAutosize cdkAutosizeMinRows="2"
      cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>
  <mat-form-field class="max-width">
    <mat-label>Version</mat-label>
    <textarea placeholder="version" formControlName="version" matInput cdkTextareaAutosize cdkAutosizeMinRows="2"
      cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>
  <div style="display: flex; justify-content: flex-end;">
    <button mat-button (click)="dialogRef.close()" class="margin-right">MÉGSEM</button>
    <button mat-button [mat-dialog-close]="form.value" [disabled]="form.invalid">FELVÉTEL</button>
  </div>
</form>
