<div class="centering">
  <mat-card class="log-card">
    <form [formGroup]="form" (ngSubmit)="login()">
      <h3>Login</h3>
      <mat-form-field class="max-width">
        <mat-label>E-mail</mat-label>
        <input type="email" name="email" matInput formControlName="email">
      </mat-form-field>
      <mat-form-field class="max-width">
        <mat-label>Password</mat-label>
        <input type="password" name="password" matInput minlength="6" formControlName="password">
      </mat-form-field>
      <br>
      <div><button mat-button color="accent" (click)="navTo('/registration')">REGISTRATION</button></div>
      <br>
      <button type="submit" mat-raised-button color="primary" class="max-width" [disabled]="form.invalid">LOGIN</button>
    </form>
  </mat-card>
</div>
