<!--<span [ngSwitch]="page">
  <span *ngSwitchCase="'home'">
      <span *ngSwitchCase="'Evidence'" class="container">
      </span>
      <span *ngSwitchDefault class="container">
      </span>
    </span>
  </span>

  <span *ngSwitchCase="'registration'">
    <app-registration></app-registration>
  </span>

  <span *ngSwitchDefault>
    <app-login></app-login>
  </span>
</span>
<div>
  <app-evidence-card *ngFor="let evidence of evidences" [evidence] = "evidence"></app-evidence-card>
</div>
-->
<p>home page</p>
<div>
</div>