<div class="centering">
  <mat-card class="reg-card">
    <form [formGroup]="form" (ngSubmit)="registration()">
      <h3>Regisztrátció</h3>
      <mat-form-field class="max-width">
        <mat-label>Felhasználó név</mat-label>
        <input matInput type="text" name="nickname" required formControlName="username">
      </mat-form-field>
      <mat-form-field class="max-width">
        <mat-label>E-mail</mat-label>
        <input type="email" name="email" matInput formControlName="email">
        <mat-hint>@ szerepel benne</mat-hint>
      </mat-form-field>
      <mat-form-field class="max-width">
        <mat-label>Jelszó</mat-label>
        <input type="password" name="password" matInput formControlName="password1">
        <mat-hint align="end">min. length 6 / {{form.value.password1.length}}</mat-hint>
      </mat-form-field>
      <mat-form-field class="max-width">
        <mat-label>Jelszó újra</mat-label>
        <input type="password" name="password" matInput #password2 formControlName="password2">
        <mat-hint align="end">min. length 6 / {{password2.value.length}}</mat-hint>
      </mat-form-field>
      <mat-chip-list *ngIf="alertMessage">
        <mat-chip color="warn" class="max-width" style="margin-top: 16px;" selected>
          {{alertMessage}}
        </mat-chip>
      </mat-chip-list>
      <br>
      <div>
        <br>
        <button type="submit" mat-raised-button color="primary" class="max-width" [disabled]="form.invalid">REGISZTRÁCIÓ</button>
        <br>
      </div>
      <br>
      <div><button mat-button color="accent" [routerLink]="[ '/login' ]">BEJELENTKEZÉS</button></div>
    </form>
  </mat-card>
</div>
