/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background: #303030;
  color: white;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.centering {
  display: flex;
  align-items: center;
  justify-content: center;
  height: stretch;
}

.reg-card,
.log-card {
  width: 100vw;
  height: 100vh;
}

@media (min-width: 768px) {

  .reg-card,
  .log-card {
    max-width: 33em;
    min-height: 40em;
    height: auto;
  }
}

.max-width {
  width: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
